.display {
    height: 200px;
    border-radius: 20px;
    font-size: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0a0a22;
    color: #fff;
    box-sizing: border-box;
    padding: 11px 30px 11px 11px;
    border: 1px solid #888;
    box-shadow: -1px 2px 1px 1px #fff;
    box-sizing: content-box;
    overflow: hidden;
}

.display:hover {
    box-shadow: rgb(68, 68, 68);
}